<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">
<div class="panel"> 
    <div class="header panel">
       
      <div class="sign">
        <h1> <%=@dictionary.word%></h1>
       
      </div>
      <p> <%=@dictionary.defination%> </p>
    </div>
  </div>
  </div>
</div>
</div>