 <div class="container">
    <%=provide(:title,"Language Details")%>
    <div class="row">
      <div class="small-8 medium-6 large-5 small-centered columns">
        <div class="panel"> 
          <div class="header panel">
            <small> <%=@language.name%></small>
            <div class="sign">
              <h1> <%=@language.name%></h1>
            </div>
            <p> <%=@language.description%> </p>
          </div>
        </div>
      </div>
    </div>
</div>


