
<%=provide(:title,"dialects List")%>
<section id="option-buttons">

	
</section>


<%if @dialects.nil? %>
	<h3>No Dialects</h3>
	<%else%>
<div class="container">
	<div class="row">

	<%@dialects.each do |dialect| %>
			
			<%=dialect.dialect_name%>
			<%= dialect.description.truncate(15) %>
		</div>
	<%end%>
	</div>

</div>
<%end%>