 <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Diversity Understood Develops Unity!</h2>
                    <hr class="primary">
                    <p>Be part of building the great Library of Languages!</p>
                </div>
                
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">info@wordsmith.com</a></p>
                </div>
            </div>
        </div>
    </section>